.container{
    padding:.5em;
}
.container .container_item{
    width:100%;
    height:200px;
    border:1px solid #ccc;
    border-radius: 4px;
    margin-bottom:1em;
}
.container .container_item .order_number{
    line-height:2.2em;
    border-bottom:1px solid #ccc;
    font-size:12px;
    padding-left:1em;
}
.centent{
    padding:1em;
}